header {
    position: sticky;
    display: flex !important;
    align-items: center;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}
header > * {
    padding-left: 15px;
    padding-right: 15px;
}
header > .brand {
    width: 16.6666%;
}
header > .search {
    width: 66.6666%;
}
header > .user {
    width: 16.6667%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header > .user > *:nth-child(2) {
    padding: 0;
}
header > .user > .cart-icon {
    width: 40px;
    height: 40px;
    color: var(--black-1);
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
header > .user > .cart-icon:hover {
    color: var(--black-1);
    text-decoration: none;
    background-color: var(--gray-0);
    border-radius: 1000px;
}
header > .user > .cart-icon:active {
    background-color: var(--gray-1);
}
#search-form {
    position: relative;
}
#search-form input {
    background-color: var(--gray-1);
    width: 100%;
    padding: 14px 25px 14px 50px;
    border: none;
    border-radius: 100px;
}
#search-form img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
}
