:root {
    --black-1: #242a4b;
    --gray-0: #fafafb;
    --gray-1: #e6ecf0;
    --gray-2: #d0d6da;
    --gray-3: #aeb5b9;
    --red-1: #ff6207;
    --blue-0: #a4c8e8;
    --blue-1: #2e90e5;
    --bg-login: #e6ecf0;
    --bg-light: #dfe6e9;
    --shadow-color: #f4f5f6;
    --primary-color: #2d3436;
    --secondary-color: #0984e3;
    --purple: #bd93f9;
    --my-blue: #0985e3ea;
    --my-red: #d63030de;
    --my-yellow: #f5c56dde;
    --my-green: #00b893d8;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    /* font-family: Raleway; */
    border: none;
    color: var(--gray-6);
    cursor: pointer;
}
input:focus,
button:focus {
    outline: none !important;
}
ul,
li {
    list-style: none;
}
